
<div class="UrlIndex">
  <div class="exercises">
      <iframe src=<%= @exercise.url1 %>></iframe>
      <iframe src=<%= @exercise.url2 %>></iframe>
      <iframe src=<%= @exercise.url3 %>></iframe>
      <iframe src=<%= @exercise.url4 %>></iframe>
	</div>
</div>
  <div class="qrblock">
  <button id="getqrInfo" class="btn btn-default">QRコードを生成</button>
 
  <div id="qrOutput">
    <div><img id="newImg"></div>
  </div>
 </div>